@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "GmarketSansMedium" !important;
}

/* //리스트관련 css */
.ListSector {
  width: 980px;
  margin: auto;
}
.ListBg {
  width: 100%;
  height: 320px;
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: rgb(241, 241, 235, 0.3);
}
.classImg {
  width: 230.4px;
  height: 129.6px;
  margin: 94px 10px 94px 50px;
  border: 1px solid black;
}
.ListFlex {
  display: flex;
}
.ListFlex .title {
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  max-height: 35px;
  margin: 0 20px 25px 0;
  word-break: break-all;
  overflow: hidden;
  background-color: rgb(239, 247, 218);
}
.ListFlex .desc {
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  word-break: break-all;
  max-height: 196px;
  overflow: hidden;
  background-color: rgb(239, 247, 218);
}
/* //좋아요, 찜, 링크 */
.FixedOption {
  margin: auto 0px auto 30px;
}
.LikeNum {
  margin: auto 0px auto 30px;
}
.FixedOption {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.FixedOption img {
  width: 30px;
  height: 30px;
}
.FixedOption a:link,
.FixedOption a:visited,
.FixedOption a:hover {
  text-decoration: none;
  color: black;
}
/* 리스트관련 css */
.ListSector {
  width: 980px;
  margin: auto;
}
.ListBg {
  width: 100%;
  height: 320px;
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: rgb(241, 241, 235, 0.3);
}
.classImg {
  width: 230.4px;
  height: 129.6px;
  margin: 94px 10px 94px 50px;
  border: 1px solid black;
}
.ListFlex {
  display: flex;
}
.ListFlex .title {
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 50px 20px 20px 0;
  word-break: break-all;
  overflow: hidden;
  background-color: rgb(239, 247, 218);
}
.ListFlex .desc {
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  word-break: break-all;
  max-height: 196px;
  overflow: hidden;
  background-color: rgb(239, 247, 218);
}

/* 좋아요, 찜, 링크 */
.FixedOption {
  margin: auto 0px auto 30px;
}
.LikeNum {
  margin: auto 0px auto 30px;
}
.FixedOption {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.FixedOption img {
  width: 30px;
  height: 30px;
}
.FixedOption a:link,
.FixedOption a:visited,
.FixedOption a:hover {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}
.hoon-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  background-color: black;
  padding-left: 30px;
}
.hoon-2 {
  display: flex;
  border-radius: 20px;
  height: 40px;
  width: 400px;
  margin-right: 100px;
}
.hoon-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  margin-right: 100px;
}
.hoon-4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 40px;
  width: 200px;
  margin-right: 60px;
  border-radius: 20px;
}

.hoon-5 {
  display: flex;
}
.hoon-6 {
  width: 500px;
}
/* flex 초기 설정 */
.flex-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-layout-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-layout-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 버튼 css */
.menu-container {
  width: 980px;
  margin: 15px auto;
}
.menu-wrap {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 5px 5px 0px auto;
}

.a-content {
  text-decoration: none;
}

/* 드롭다운 버튼 */
.dropbtn,
.writebtn {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: solid 0.5px black;
  border-radius: 50%;
}

/* 드롭다운 컨텐츠 위치 조정 */
.dropdown {
  position: relative;
  /* display: inline-block; */
}

/* 드롭다운 컨텐츠 숨기기 (기본설정) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16px;
  z-index: 1;
}

/* 드롭다운 안에 있는 링크들 */
.dropdown-content a {
  background-color: white;
  border: solid 0.5px black;
  border-radius: 50%;
  margin-top: 5px;
  padding: 16px;
  display: block;
}

/* 드롭다운 호버 색깔 바꾸기 */
.dropdown-content a:hover {
  background-color: gold;
}

/* 드롭다운 호버 메뉴 보이기 */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 메뉴 보이면 색 바꾸기 */
.dropdown:hover .dropbtn {
  background-color: gold;
}

.writebtn:hover {
  background-color: gold;
}

/* 글 작성 모달 css */
.popup-background,
.signup-background,
.login-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.show {
  display: block;
}
.popup-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  z-index: 10;
}
.popup-content {
  width: 900px;
  padding: 20px;
  background-color: #fff;
}
.popup-close-btn {
  padding: 10px 20px;
  color: #fff;
  border: 0;
  background-color: black;
}
.create-form-wrap {
  margin-top: 10px;
}
.create-form-wrap label {
  width: 80px;
}
.create-form-wrap input {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #dee2e6;
}
.create-form-wrap textarea {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #dee2e6;
}
.create-form-wrap input::placeholder,
.create-form-wrap textarea::placeholder {
  color: #adb5bd;
}
.create-form-btn {
  margin-top: 30px;
  padding: 10px 20px;
  color: #fff;
  border: 0;
  background-color: black;
}

/* modal 관련 css 추가 */
.signup-close-btn {
  width: 100%;
  padding: 14px 20px;
}

/* 로그인/회원가입 모달 css */
/* 모든 테두리 스타일 적용 */
form {
  border: 3px solid #f1f1f1;
}

/* 모든 입력창 100% 넓이 */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* 모든 버튼 스타일링 */
.loginbtn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signinbtn {
  background-color: #3564ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* 이름만변경함 */
.close-btn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: 0;
}
/* .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
} */

/* 버튼 호버 효과 */
button:hover {
  opacity: 0.8;
}

/* 이미지 컨테이너 중앙으로 위치 */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* 이미지 */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* 컨테이너 패딩 추가 */
.container {
  padding: 16px;
}

/* forgot pw */
span.psw {
  float: right;
  padding-top: 16px;
}

/* 모달 배경 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* 모달 컨텐츠/박스 */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 30%;
}

/* 닫기 버튼 */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

/* 닫기 호버 효과 */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* 확대 애니메이션 추가 */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

.List_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.List_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
.List_content {
  background-color: white;
  padding: 50px 100px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 980px;
  top: 0px;
  border-radius: 10px;
}
.List_hidden {
  display: none;
}
.close_btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
