/* 저희가 만든 css중 같이 공통으로 사용할 수 있는 css 상단배치 */
/* 확대 애니메이션 추가 */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* flex 공통 css */
.flex-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-layout-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-layout-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 리스트관련 css */
.cardCloumn{
  width: 1500px;
  margin:auto;
}
.cardRow{
  display: flex;
  justify-content: center;
}
.ListBg:hover{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 4px rgba(0, 0, 0, 0.5);
}
.ListBg {
  width: 400px;
  height: 700px;
  border: 3px solid black;
  border-radius: 5px;
  margin: 0 3% 0 3%;
  background-color: rgb(241, 241, 235, 0.3);
  transition: box-shadow 0.23s linear;
}
.classImg {
  display: flex;
  width: 90%;
  height: 20%;
  margin: 20px 20px 10px 20px;
  border: 1px solid black;
}
.Option{
  display:flex;
  margin: 20px auto 10px auto;
  justify-content: center;
}
.FixedOption, .Like {
  margin: auto 30px auto 30px;
}
.Like{
  border: 1px solid black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  font-size: 15px;
}
.Like img {
  margin-top:15%;
  width: 30px;
  height: 30px;
}
.FixedOption {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.FixedOption img {
  margin-top: 40%;
  width: 30px;
  height: 30px;
}
.FixedOption a:link,
.FixedOption a:visited,
.FixedOption a:hover {
  text-decoration: none;
  color: black;
}

.ListFlex .title {
  width: 90%;
  border-radius: 5px;
  height: 40px;
  margin: 0 20px 20px 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ListFlex .desc {
  width: 90%;
  border-radius: 5px;
  height: 180px;
  margin: 0 20px 30px 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
.preview{
  border: 1px solid;
  border-radius: 5px;
  background-color: #202020;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width:50%;
  height: 60px;
  margin: 20px auto auto auto;
}

.topmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 180px;
  background-color: black;
  padding-left: 30px;
}
.search_bar {
  display: flex;
  border-radius: 20px;
  height: 40px;
  width: 400px;
  margin-right: 100px;
}
.mypage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  margin-right: 100px;
}
.login_signup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  height: 40px;
  width: 200px;
  margin-right: 60px;
  border-radius: 20px;
}
.member_box {
  display: flex;
}
.search_box {
  width: 500px;
}

/* 버튼 css */
.menu-container {
  width: 980px;
  margin: 15px auto;
}
.menu-wrap {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 5px 5px 0px auto;
}

.a-content {
  text-decoration: none;
}

/* 드롭다운 버튼 */
.dropbtn,
.writebtn {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: solid 0.5px black;
  border-radius: 50%;
}

/* 드롭다운 컨텐츠 위치 조정 */
.dropdown {
  position: relative;
  /* display: inline-block; */
}

/* 드롭다운 컨텐츠 숨기기 (기본설정) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16px;
  z-index: 1;
}

/* 드롭다운 안에 있는 링크들 */
.dropdown-content a {
  background-color: white;
  border: solid 0.5px black;
  border-radius: 50%;
  margin-top: 5px;
  padding: 16px;
  display: block;
}

/* 드롭다운 호버 색깔 바꾸기 */
.dropdown-content a:hover {
  background-color: gold;
}

/* 드롭다운 호버 메뉴 보이기 */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 메뉴 보이면 색 바꾸기 */
.dropdown:hover .dropbtn {
  background-color: gold;
}

.writebtn:hover {
  background-color: gold;
}

/* 글 작성 모달 css */
.popup-background,
.signup-background,
.login-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.show {
  display: block;
}
.popup-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  z-index: 10;
}
.popup-content {
  width: 900px;
  padding: 20px;
  background-color: #fff;
}
.popup-close-btn {
  padding: 10px 20px;
  color: #fff;
  border: 0;
  background-color: black;
}
.create-form-wrap {
  margin-top: 10px;
}
.create-form-wrap label {
  width: 80px;
}
.create-form-wrap input {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #dee2e6;
}
.create-form-wrap textarea {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #dee2e6;
}
.create-form-wrap input::placeholder,
.create-form-wrap textarea::placeholder {
  color: #adb5bd;
}
.create-form-btn {
  margin-top: 30px;
  padding: 10px 20px;
  color: #fff;
  border: 0;
  background-color: black;
}

/* modal 관련 css 추가 */
.signup-close-btn {
  width: 100%;
  padding: 14px 20px;
}

/* 로그인/회원가입 모달 css */
/* 모든 테두리 스타일 적용 */
form {
  border: 3px solid #f1f1f1;
}

/* 모든 입력창 100% 넓이 */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* 모든 버튼 스타일링 */
.loginbtn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signinbtn {
  background-color: #3564ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* 이름만변경함 */
.close-btn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: 0;
}
/* .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
} */

/* 버튼 호버 효과 */
button:hover {
  opacity: 0.8;
}

/* 이미지 컨테이너 중앙으로 위치 */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* 이미지 */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* 컨테이너 패딩 추가 */
.container {
  padding: 16px;
}

/* forgot pw */
span.psw {
  float: right;
  padding-top: 16px;
}

/* 모달 배경 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* 모달 컨텐츠/박스 */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 30%;
}

/* 닫기 버튼 */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

/* 닫기 호버 효과 */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.List_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.List_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
.List_content {
  background-color: white;
  padding: 5% 10%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 1280px;
  top: 0px;
  border-radius: 10px;
}
.List_hidden {
  display: none;
}
.close_btn {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
}
.edit_btn {
  all: unset;
  position: absolute;
  top: 65px;
  right: 20px;
  
}
.delete_btn {
  all: unset;
  position: absolute;
  top: 110px;
  right: 20px;
}
.line {
  color: rgb(117, 117, 117);
  margin: 2% 0 2% 0;
}

/* icon nav css */
.icon-nav-wrap {
  width: 980px;
  margin: 30px auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}
.create-btn {
  margin-right: 5px;
}
.create-btn,
.dropdown-icon {
  width: 60px;
  height: 60px;
  color: #fff;
  border: 0;
  border-radius: 50%;
  background-color: black;
}
.dropdown-icon {
  text-align: center;
  line-height: 60px;
  font-size: 18px;
}

.create-btn:hover,
.dropdown-icon:hover {
  opacity: 0.8;
}
.icon-dropdown-container {
  position: relative;
}
.showIcon {
  display: block;
}
.showIcon img {
  width: 30px;
  background-color: #fff;
  vertical-align: middle;
}
.icon-dropdown-wrap {
  display: none;
}
.icon-dropdown-wrap2 {
  font-size: 11px;
}
.icon-dropdown-wrap2 .line {
  margin: 0px 10px;
}
.icon-dropdown-wrap2 li:hover {
  animation: fade 1s;
  color: red;
  cursor: pointer;
}
.icon-first {
  position: absolute;
  top: 0;
  left: 60px;
}
.icon-second {
  position: absolute;
  top: 0;
  left: 120px;
}
.icon-dropdown-container:hover > .icon-dropdown-wrap {
  display: block;
}
