/* 저희가 만든 css중 같이 공통으로 사용할 수 있는 css 상단배치 */
/* 확대 애니메이션 추가 */
.mypage a {
  text-decoration: none;
  color: white;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* flex 공통 css */
.flex-layout {
  display: flex;
  align-items: center;
}
.flex-layout-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* border-bottom: 1px solid #e0e0e0; */
}
.flex-layout-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 컨텐츠 넓이 공통 */
.container {
  width: 1170px;
  margin: 0 auto;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #000;
}
.topLogo {
  display: inline-block;
  height: 70px;
  margin-right: 60px;
  padding: 10px 0;
}
.topLogo img {
  width: 95%;
  height: 95%;
}
.search_form {
  position: relative;
}
.search_bar {
  width: 260px;
  height: 40px;
  padding-left: 20px;
  outline: none;
  border-radius: 22px;
}
.search_btn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 45px;
  height: 35px;
  border-radius: 20px;
  border: 0;
  background-color: #fff;
}
.search_icon {
  width: 17px;
  height: 17px;
  margin-left: 45%;
}
.search_result {
  align-items: center;
  font-size: 14.5px;
}
.member-wrap {
  flex: 1;
}
.member_box {
  font-size: 14px;
}
.member_box li {
  color: #fff;
}
.member_box li:nth-child(even) {
  margin-left: 40px;
}
/* 글 작성 모달 css */
.popup-background,
.signup-background,
.login-background,
.popup-detail-background,
.popup-detail-background_S {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
.show {
  display: block;
}
.popup-wrap,
.login-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  z-index: 10;
}
.popup-content,
.login-content,
.signup-content {
  padding: 30px 40px;
  background-color: #fff;
}
.popup-scroll-wrap {
  max-height: 550px;
  overflow-y: scroll;
}
.create-form input::placeholder,
.create-form textarea::placeholder,
.login-form input::placeholder,
.detail-form-wrap input::placeholder,
.detail-form-wrap textarea::placeholder {
  color: #dee2e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.create-form-btn,
.login-submit-btn,
.signup-submit-btn,
.modify-form-btn {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background-color: #000;
}
.create-form,
.login-form {
  margin-top: 30px;
}
.detail-modify-form {
  display: none;
  margin-top: 0;
}
.create-form label,
.create-form input,
.login-form label,
.login-form input,
.detail-form-wrap label,
.detail-form-wrap input {
  width: 100%;
  display: inline-block;
}
.create-form label,
.login-form label,
.detail-form-wrap label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}
.create-form input,
.login-form input,
.detail-form-wrap input {
  padding: 15px 10px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
}
.popup-content h2,
.login-content h2,
.signup-content h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.6px;
}
.popup-content {
  width: 600px;
}
.login-close-btn,
.signup-close-btn,
.popup-close-btn,
.popup-detail-close-btn,
.popup-close-btn {
  position: absolute;
  top: -25px;
  right: 0px;
  border: 0;
  color: #fff;
  background-color: transparent;
}
.login-content,
.signup-content {
  position: relative;
  width: 450px;
}
.create-form textarea,
.detail-form-wrap textarea {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
}
.preview-image-wrap,
.modify-image-wrap {
  width: 100%;
}
.preview-btn,
.modify-preview-btn {
  width: 150px;
  padding: 15px 10px;
  color: #fff;
  background: #000;
  border: 0;
  border-radius: 0px 3px 3px 0px;
}
.preview-image-wrap img,
.modify-image-wrap img {
  width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
  object-fit: cover;
}
.popup-box-wrap {
  margin-bottom: 20px;
}
.preview-url {
  border-radius: 3px 0px 0px 3px;
}
.detail-form {
  margin-top: 0;
}
.detail-image-wrap {
  margin: 20px 0;
}
.detail-image-wrap img {
  width: 100%;
  max-height: 300px;
  margin: 0;
  object-fit: cover;
}

.detail-modify-btn,
.detail-delete-btn {
  padding: 8px 12px;
  border: 0;
  background-color: transparent;
}
.detail-modify-btn {
  color: #339af0;
  border: 1px solid #339af0;
}
.detail-delete-btn {
  margin-left: 15px;
  color: #ff6b6b;
  border: 1px solid #ff6b6b;
}
.detail-content-wrap h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.6px;
}

.error {
  color: red;
}

/* icon nav css */
.icon-nav-wrap {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 1;
  background-color: white;
  width: 100%;
  /* padding: 30px 20px; */
  /* padding-bottom: 15px; */
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}
.create-btn {
  all: unset;
  height: 60px;
  color: black;
}

.create-btn-fail {
  all: unset;
  height: 60px;
  color: black;
}

.create-btn:hover,
.dropdown-icon:hover {
  opacity: 0.8;
}
.icon-dropdown-container {
  position: relative;
}
.showIcon {
  display: block;
}
.showIcon img {
  width: 30px;
  background-color: #fff;
  vertical-align: middle;
}
.icon-dropdown-wrap {
  display: none;
}
.icon-dropdown-wrap2 {
  font-size: 12px;
  display: flex;
}
.icon-dropdown-wrap2 .line {
  margin: 0px 10px;
  color: #dee2e6;
}
.icon-dropdown-wrap2 span:hover {
  animation: fade 1s;
  color: #339af0;
  cursor: pointer;
}
.icon-first {
  position: absolute;
  top: 0;
  left: 60px;
}
.icon-second {
  position: absolute;
  top: 0;
  left: 120px;
}
.icon-dropdown-container:hover > .icon-dropdown-wrap {
  display: block;
}
.color-blue {
  color: #339af0;
}
.mypage-nav {
  height: 60px;
  line-height: 60px;
}
.mypage_text {
  font-size: 13px;
  color: #ff6b6b;
}
.arrow {
  position: fixed;
  cursor: pointer;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
}
/* 리스트관련 css */
.cardCloumn {
  display: grid;
  width: 1176px;
  margin: auto;
}

.cardRow,
.cardRow2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 20px;
  align-items: start;
}

.ListBg {
  position: relative;
  margin-bottom: 32px;
  border-radius: 5px;
  cursor: pointer;
}

.imgHidden-box {
  overflow: hidden;
  justify-content: center;
  height: 155px;
  align-items: center;
  display: flex;
}
.classImg {
  width: 100%;
  border-radius: 3px;
  margin-bottom: 8px;
}
.classImg:hover {
  transform: scale(1.1);
  transition: 0.3s ease 0s, opacity 0.1s linear 0s !important;
}
.Option_Jjim {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}
.Option_Jjim:hover {
  background-color: rgb(239, 239, 239, 0.2);
  transition: background-color 0.1s ease 0s;
}

.Option_Jjim img {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
  filter: drop-shadow(rgba(41, 42, 43, 0.1) 0px 1px 3px)
    drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 0.5px);
}

.ListFlex .title {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: rgb(26, 26, 26);
  height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 4px 0px 6px;
}

.numCount {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.likeNum {
  display: flex;
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: normal;
  margin: 0px 8px 0px 0px;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(162, 162, 162);
}
.likeNum img {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex: 0 0 auto;
  height: 12px;
  margin-right: 2px;
}
.ListFlex hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid rgb(242, 244, 245);
}

.Option {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: space-between;
}

.Like,
.Link {
  background-color: #fff;
  color: #343a40;
  border-radius: 3px;
  border: 0;
  width: 49%;
  padding: 8px 10px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid #343a40;
}

.Like img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  margin-bottom: 1px;
}
.Like span,
.Link span {
  font-size: 13px;
}
.Link a:link,
.Link a:visited,
.Link a:hover {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1200px) {
  /* 981~1200 */
  body {
    border: 2px solid yellow;
  }
  .topcontainer,
  .container,
  .topmenu {
    width: 100%;
    padding: 0px 10px;
  }
  .popup-scroll-wrap {
    max-height: 550px;
    overflow-y: scroll;
  }
  .cardCloumn {
    width: 100%;
    padding: 0px 10px;
  }
  .cardRow,
  .cardRow2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 980px) {
  /* 768~981 */
  body {
    border: 2px solid red;
  }
  .imgHidden-box {
    height: auto;
  }
  .classImg {
    height: 150px;
    object-fit: cover;
  }
}
@media screen and (max-width: 767px) {
  /* 디바이스 크기 421~767 */
  body {
    border: 2px solid blue;
  }
  /* 팝업 크기 수정이 필요하시면 아래 widht를 조절해주세요. */
  .popup-content {
    width: 100%;
    border: 2px solid red;
  }
  .popup-wrap{
    width: 70%;
    min-width: 340px;
  }
  .login-wrap{
    width: 60%;
  }
  .login-content,
  .signup-content {
    width: 100%;
    border: 2px solid pink;
  }
  .cardRow,
  .cardRow2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .listBg{
    min-width: 270px;
  }
  .search_form{
    width: 35%;
  }
  .search_bar{
    width:100%;
  }
  .member_box li:nth-child(even){
    margin-left: 10%
  }
  .Option{
    min-width: 192px;
  }
}
@media screen and (max-width: 420px) {
  /* 디바이스 크기 0~420px */
  body {
    border: 2px solid green;
  }
  /* 팝업 크기 수정이 필요하시면 아래 widht를 조절해주세요. */
  .popup-content {
    width: 100%
  }
  .login-content,
  .signup-content {
    width: 250px;
    border: 2px solid pink;
  }
  .cardRow,
  .cardRow2 {
  display: flex;
  flex-wrap: wrap;
  }
  .ListBg {
    position: relative;
    cursor: pointer;
    min-width: 270px;
    margin: 10px auto;
  }
  .popup-wrap, .login-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    z-index: 10;
    width: 75%;
  }
  .popup-scroll-wrap {
    max-height: 550px;
  }
  .topLogo {
    display: inline-block;
    height: 70px;
    margin-right: 0px;
    padding: 10px 0;
  }
  .search_form {
    position: relative;
    width: 120px;
  }
  .search_bar {
    width: 120px;
    height: 40px;
    padding-left: 20px;
    outline: none;
    border-radius: 20px;
  }
  .member_box {
    font-size: 12px;
  }
  .create-btn-fail {
    
    font-size: 12px;
  }
}
