/* 저희가 만든 css중 같이 공통으로 사용할 수 있는 css 상단배치 */
/* 확대 애니메이션 추가 */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* flex 공통 css */
.flex-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-layout-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-layout-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 리스트관련 css */
.cardCloumn{
  display: grid;
  width: 1500px;
  margin:auto;
}
.cardRow{
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.ListBg:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.ListBg {
  /* width: 27%; */
  height: 700px;
  border: 2px solid #dddddd9c;
  border-radius: 5px;
  margin: 6% 6%;
  transition: box-shadow 0.23s linear;
}
.ListFlex{
  padding: 7%;

}
.titleLine{
  margin: 25px 0;
}
.classImg {
  width: 100%;
  height: 20%;
  border: 1px solid black;
}

.Option{
  display: flex;
  margin: 20px auto;
  justify-content: space-evenly;
}
.Like{
  background-color: black;
  position: relative;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}
.Like img {
  margin-top:10%;
  width: 30px;
  height: 30px;
  vertical-align: text-bottom;
}
.LikeNum {
  position:absolute;
}
.FixedOption {
  background-color: black;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.FixedOption img {
  margin-top: 40%;
  width: 30px;
  height: 30px;
}
.FixedOption a:link,
.FixedOption a:visited,
.FixedOption a:hover {
  text-decoration: none;
  color: black;
}

.ListFlex .title {
  margin: 0 20px 20px 20px;
  display: -webkit-box;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 20px;
}
.ListFlex .desc {
  height: 180px;
  margin: 0 20px 30px 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}
.preview{
  border: 1px solid;
  border-radius: 5px;
  background-color: #202020;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 35%;
  height: 45px;
  margin: 20px auto;
}

.topmenu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: black;
}
.topLogo{
  width: 35%;
  height: 35%;
}
.search_bar {
  display: flex;
  border-radius: 20px;
  height: 40px;
  width: 400px;
  padding-left: 4%;
}
.search_btn{
  border: 0;
  background-color: white;
  width: 70px;
  height: 35px;
  border-radius:20px;
  margin:2px 80px 0 -72px;
  text-align: center;
}
.search_icon{
  width: 17px;
  height: 17px;
  margin-left: 45%;
}
.mypage {
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.login-btn {
  color: white;
  display: flex;
  align-items: center;
}
.signup-btn{
  color: white;
  display: flex;
  align-items: center;
}
.login_signLine {
  width: .1rem;
  height: 1.2rem;
  margin: 0 1.25rem; 
}
.member_box {
  display: flex;
}
.search_box {
  width: 500px;
  display: flex;
}

/* 버튼 css */
.menu-container {
  width: 980px;
  margin: 15px auto;
}
.menu-wrap {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 5px 5px 0px auto;
}

.a-content {
  text-decoration: none;
}

/* 드롭다운 버튼 */
.dropbtn,
.writebtn {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: solid 0.5px black;
  border-radius: 50%;
}

/* 드롭다운 컨텐츠 위치 조정 */
.dropdown {
  position: relative;
  /* display: inline-block; */
}

/* 드롭다운 컨텐츠 숨기기 (기본설정) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16px;
  z-index: 1;
}

/* 드롭다운 안에 있는 링크들 */
.dropdown-content a {
  background-color: white;
  border: solid 0.5px black;
  border-radius: 50%;
  margin-top: 5px;
  padding: 16px;
  display: block;
}

/* 드롭다운 호버 색깔 바꾸기 */
.dropdown-content a:hover {
  background-color: gold;
}

/* 드롭다운 호버 메뉴 보이기 */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 메뉴 보이면 색 바꾸기 */
.dropdown:hover .dropbtn {
  background-color: gold;
}

.writebtn:hover {
  background-color: gold;
}

/* 글 작성 모달 css */
.popup-background,
.signup-background,
.login-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.show {
  display: block;
}
.popup-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  z-index: 10;
}
.popup-content {
  width: 900px;
  padding: 20px;
  background-color: #fff;
}
.popup-close-btn {
  padding: 10px 20px;
  color: #fff;
  border: 0;
  background-color: black;
}
.create-form{
  margin-top:30px
}
.create-form-wrap {
  margin-top: 10px;
}
.create-form-wrap label {
  width: 80px;
}
.create-form-wrap input {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #dee2e6;
}
.create-form-wrap textarea {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #dee2e6;
}
.create-form-wrap input::placeholder,
.create-form-wrap textarea::placeholder {
  color: #adb5bd;
}
.create-form-btn {
  margin-top: 30px;
  padding: 10px 20px;
  color: #fff;
  border: 0;
  background-color: black;
}
.preview-image-wrap{
  width:100%;
}
.preview-btn{
  padding:5px 10px;
  color:#fff;
  background: #000;
  border:0;
}
.preview-image-wrap img{
  width:100%;
  max-height:300px;
  margin-top:10px;
  object-fit: contain;
}
/* modal 관련 css 추가 */
.signup-close-btn {
  width: 100%;
  padding: 14px 20px;
}

/* 로그인, 회원가입 모달v2 */
.login-background,
.signup-background {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.show {
  display: block;
}

.login-form {
  position: relative;
  transition: box-shadow .3s;
  border: 2px solid #dddddd9c;
  border-radius: 5px;
  padding: 50px;
  margin: 15% auto;
  width: 500px;
  height: 400px;
  background-color: rgba(275, 275, 275, 1);
}

.signup-form {
  position: relative;
  transition: box-shadow .3s;
  border: 2px solid #dddddd9c;
  border-radius: 5px;
  padding: 50px;
  margin: 5% auto;
  width: 500px;
  height: 600px;
  background-color: rgba(275, 275, 275, 1);
}

.login-close-btn{
  position: absolute;
  right: 15px;
  top: 8px;
  font-size: 2rem;
}

.signup-close-btn {
  position: absolute;
  left: 85%;
  top: 8px;
  font-size: 2rem;
} 

.login-close-btn:hover,
.signup-close-btn:hover {
  color: red;
}

.login-form:hover,
.signup-form:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
  width: 100%;
  padding: 2% 0;
  margin: 5% auto;
  border: 2px solid #dddddd9c;
  border-radius: 3px;
}

.login-submit-btn,
.signup-submit-btn {
  transition: background-color 1s;
  width: 100%;
  padding: 2% 0;
  margin: 10% auto;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.login-submit-btn:hover,
.signup-submit-btn:hover {
  background-color: rgba(8, 8, 8, 0.788);
}

.List_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.List_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}
.List_content {
  background-color: white;
  padding: 5% 10%;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 66%;
  top: 0px;
  border-radius: 10px;
}
.List_hidden {
  display: none;
}
.close_btn {
  all: unset;
  position: absolute;
  top: 20px;
  right: 20px;
}
.edit_btn {
  all: unset;
  position: absolute;
  top: 65px;
  right: 20px;
  
}
.delete_btn {
  all: unset;
  position: absolute;
  top: 110px;
  right: 20px;
}
.line {
  color: rgb(117, 117, 117);
  margin: 2% 0 2% 0;
}

/* icon nav css */
.icon-nav-wrap {
  width: 1500px;
  margin: 30px auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}
.create-btn {
  margin-right: 5px;
}
.create-btn,
.dropdown-icon {
  width: 60px;
  height: 60px;
  color: #fff;
  border: 0;
  border-radius: 50%;
  background-color: black;
}
.dropdown-icon {
  text-align: center;
  line-height: 60px;
  font-size: 18px;
}

.create-btn:hover,
.dropdown-icon:hover {
  opacity: 0.8;
}
.icon-dropdown-container {
  position: relative;
}
.showIcon {
  display: block;
}
.showIcon img {
  width: 30px;
  background-color: #fff;
  vertical-align: middle;
}
.icon-dropdown-wrap {
  display: none;
}
.icon-dropdown-wrap2 {
  font-size: 11px;
}
.icon-dropdown-wrap2 .line {
  margin: 0px 10px;
}
.icon-dropdown-wrap2 li:hover {
  animation: fade 1s;
  color: red;
  cursor: pointer;
}
.icon-first {
  position: absolute;
  top: 0;
  left: 60px;
}
.icon-second {
  position: absolute;
  top: 0;
  left: 120px;
}
.icon-dropdown-container:hover > .icon-dropdown-wrap {
  display: block;
}
