<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy Project1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='my_page_style.css' )}}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <script defer src="{{ url_for('static', filename='my_page_script.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <!-- 상단메뉴 -->
    <nav class="topcontainer">
        <div class="topmenu">
            <div class="logoSearch">
                <a class="topLogo" href="/">
                    <img src="../static/img/titleLogo.svg" >
                </a>
                <div class="search_box">
                    <input class="search_bar" type="text" placeholder="검색어 입력">
                    <button class="search_btn"><img class="search_icon" src="../static/img/search.png"></button>
                </div>
            </div>
            
            <div class="member_box">
                <div class="mypage">
                    <a href="/myPage">마이페이지</a>
                </div>
                <div class="login_signLine"></div>
                    <a class="login-btn">로그인</a>
                <div class="login_signLine"></div>
                    <a class="signup-btn">회원가입</a>
            </div>
        </div>  
    </nav>

    <div class="login-background">
        <div class="login-wrap">
            <section class="login-content">
                <div class="flex-layout-between">
                    <h2>로그인</h2>
                    <button class="login-close-btn">닫기</button>
                </div>
                <form class="popup-form login-form" action="#" name="login_form">
                    <div class="popup-box-wrap">
                        <label class="login-id" for="login-id">아이디</label>
                        <input  type="text" class="login-input" name="login-id" required placeholder="example@naver.com"/>
                    </div>
                    <div class="popup-box-wrap">
                        <label for="login-pw">비밀번호</label>
                        <input  type="text" id="login-pw" name="login-pw" placeholder="******"/>
                    </div>
                    <div class="popup-box-wrap">
                        <button type="submit" class="login-submit-btn">로그인</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="signup-background">
        <div class="login-wrap">
            <section class="signup-content">
                <div class="flex-layout-between">
                    <h2>회원가입</h2>
                    <button class="signup-close-btn">닫기</button>
                </div>
                <form class="popup-form login-form" >
                    <div class="popup-box-wrap">
                        <label class="login-uname" for="signup-name">이름</label>
                        <input  type="text" class="username-input" name="signup-name"  placeholder="홍길동" required/>
                    </div>
                    <div class="popup-box-wrap">
                        <label class='login-id' for="signup-id">아이디</label>
                        <input  type="text" class="login-input" name="signup-id" placeholder="example@naver.com" required/>
                    </div>
                    <div class="popup-box-wrap">
                        <label class='login-pw' for="signup-pw">비밀번호</label>
                        <input  type="password" class="password-input" id="signup-pw" name="signup-pw" placeholder="******" required/>
                    </div>
                    <div class="popup-box-wrap">
                        <label for="signup-check-pw">비밀번호 확인</label>
                        <input  type="password" class="password-input" id="signup-check-pw" name="signup-check-pw" placeholder="******" required/>
                    </div>
                    <p class="error error--hidden"></p>
                    <div class="popup-box-wrap">
                        <button class="signup-submit-btn">회원가입</button>
                    </div>
                </form>
            </section>
        </div>
    </div>

    {% block content %}
    {% endblock %}
    
</body>
</html>