{% extends "base.html" %}

{% block head%}
<script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock%}
{% block content %}
    <section class="icon-nav-wrap">
        <nav class="container flex-layout-between">
            <div class="icon-dropdown-wrap2 flex-layout">
                <span class="new-card-btn color-blue">최신순</span>
                <span class="line">|</span>
                <span class="likes-card-btn">추천순</span>
            </div>
            {% if token == False %}
                <button class="create-btn">등록</button>
            {% else %}
                <button class="create-btn-fail" onclick="postingFail()">등록</button>
            {% endif %}
        </nav>
    </section>

    <!-- 카드리스트 -->
    <section class ="cardCloumn" id="card_list">
        <div class ="cardRow">

        </div>
    </section>
    

    <!-- 리스트 상세보기 -->
    <div class="popup-detail-wrap">

    </div>
    <img src="../static/img/TopArrow.svg" class="arrow"/>
{% endblock %}