{% extends "base.html" %}

{% block content %}
    <section class="my_bg">
        <div class="my_Jjim">
            <a href="#card_list">찜목록</a>
        </div>
        <div class="my_info">
            <a href="#my_information">내정보</a>
        </div>
    </section>
    <!-- 내 정보 -->
    <section id ="my_information">
        <div class="My_Nick">
            <div class="Nick">닉네임</div>
            <div class="Nick_content">창환쓰<button>변경</button></div>
        </div>
        <div class="My_ID">
            <div class="ID">ID</div>
            <div class="ID_content">황창환</div>
        </div>
        <div class="My_PW">
            <div class="PW">PW</div>
            <div class="PW_content">******** <button>변경</button></div>
        </div>
    </section>

    <!-- 내 찜목록 -->
    <section class ="cardCloumn"id="card_list">
        <div class ="cardRow">
            <div class="ListBg">
                <div class="ListFlex">
                    
                </div>
            </div>
        </div>     
    </section>
    
{% endblock %}