{% extends "base.html" %}

{% block head %}
    <script defer src="{{ url_for('static', filename='js/mypage.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="icon-nav-wrap">
        <nav class="container flex-layout-between">
            <div class="icon-dropdown-wrap2 flex-layout mypage-nav">
                <span class="color-blue">작성글</span>
            </div>
        </nav>
    </section>
    <section class ="cardCloumn mypage_cloumn" id="card_list">
        <div class ="cardRow mypage_cardList">

        </div>
    </section>
    <!-- 리스트 상세보기 -->
    <div class="popup-detail-wrap">

    </div>


{% endblock %}